<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.warrior.preserve.login.activity.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize|screenLayout|touchscreen"
            android:exported="false">

            <intent-filter>
                <action android:name="com.github.xs93.wanandroid.intent.action.login" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wanandroid" />
                <data android:host="login" />
            </intent-filter>
        </activity>
    </application>
</manifest>