<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".activity.StartActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|orientation|screenSize|screenLayout|touchscreen"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>
</manifest>