<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="com.github.xs93.wanandroid.app.WanAndroidApp">
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboard|orientation|screenSize|screenLayout|touchscreen"
            android:exported="true"
            android:theme="@style/WanAndroidTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize|screenLayout|touchscreen" />
    </application>
</manifest>